DATABASE_URL=postgres://aragami3070:aboba@localhost:5432/db
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=aragami3070
POSTGRES_PASSWORD=aboba
JWT_SECRET=kakzheYaZaebalsyaSEtoyEbanoyUcheboySukaPolkovnikuNiktoNePishetNahuy
JWT_SECRET_REFRESH=kakzheYaZaebalsyaSEtoyEbanoyUcheboySukaPolkovnikuNiktoNePishetNahuy
